<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <!-- main menu -->
  <menuitem id="saving_account_root_menu"
            name="Saving Account"
            web_icon="saving_account,static/description/icon.png"
            sequence="0"/>

  <!-- account menu -->
  <menuitem id="account_menu_master"
            name="Accounts"
            action="action_saving_account"
            parent="saving_account_root_menu"
            sequence="0"/>

  <!-- principal menu -->
  <menuitem id="principal_base_menu_master"
            name="Principal"
            action="action_principal_base"
            parent="saving_account_root_menu"
            sequence="0"/>

  <!-- interest menu -->
  <menuitem id="principal_interest_menu_master"
            name="Interest"
            parent="saving_account_root_menu"
            sequence="0"/>

</odoo>