<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <!-- main menu -->
  <menuitem id="saving_account_root_menu"
            name="Saving Account"
            web_icon="saving_account,static/description/icon.png"
            sequence="0"/>

  <!-- account menu -->
  <menuitem id="account_menu_master"
            name="Accounts"
            action="action_saving_account"
            parent="saving_account_root_menu"
            sequence="0"/>

  <!-- principal menu -->
  <menuitem id="entry_menu_master"
            name="Entries"
            action="action_entry"
            parent="saving_account_root_menu"
            sequence="0"/>

  <!-- interest rate menu -->
  <menuitem id="rate_menu_master"
            name="Rates"
            action="action_rate"
            parent="saving_account_root_menu"
            sequence="0"/>

  <!-- interest schedule menu -->
  <!-- <menuitem id="schedule_menu_master"
            name="Schedule"
            action="action_schedule"
            parent="saving_account_root_menu"
            sequence="0"/> -->

  <!-- reports menu -->
  <menuitem id="report_menu_master"
            name="Reports"
            parent="saving_account_root_menu"
            sequence="0"/>

    <menuitem id="term_account_report_menu"
              name="Term Account"
              parent="report_menu_master"
              action="action_report_term_account"
              sequence="0"/>

</odoo>