<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <menuitem id="interest_root_menu"
            name="Interest"
            web_icon="calculate_interest,static/description/icon.png"
            sequence="0"/>

  <menuitem id="interest_menu_master"
          name="Calculate"
          parent="interest_root_menu"
          sequence="0"/>

</odoo>